
html,
body {
  height: 100%;
  /* The html and body elements cannot have any padding or margin. */
}

/* Wrapper for page content to push down footer */
#wrap {
  min-height: 100%;
  height: auto;
  /* Negative indent footer by its height */
  margin: 0 auto -60px;
  /* Pad bottom by footer height */
  padding: 0 0 60px;
}

/* Set the fixed height of the footer here */
#footer {
  height: 60px;
  background-color: #f5f5f5;
}


/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */

#wrap > .container {
  padding: 60px 15px 0;
}
.container .text-muted {
  margin: 20px 0;
}

#footer > .container {
  padding-left: 15px;
  padding-right: 15px;
}

code {
  font-size: 80%;
}

.tweetbox {
  padding: 7px;
}

.tweetbox img {
  float: left;
  height: 100px;
  width: 100px;
  content:url("http://lorempixel.com/48/48");
}
.content {
  margin-left: 60px;

}
.content .by {
  font-weight: bold;
}
h5 {
  color: #030329;
  font-weight: bold;
  text-decoration: underline;

}
li {
  color: #10BBF7;
}
.form {
  color: #000000;
  padding-bottom: 30px;
}

h1 {
  color: #04048E;
  font-weight: bold;
  text-align: center;

}
.profpic {
  height: 200px;
  width: 200px;
  padding-bottom: 15px;
  padding-top: 30px;
}

.header {
  color: #020294;
  font-weight: bold;

  text-align: center;
  position: relative;
  left: 40px;
  border: 5px groove #0D1DDA;

}
.follow {
  text-align: center;
  padding-bottom: 30px;
  font-weight: bold;
  position: relative;
  left: 10px;
  text-decoration: underline;
}
